// ==============================
// Custom style
// ==============================
// You can override the variables in _variables.scss to customize the style

.todo {
  background-color: bisque;
  font-family: monospace;
  color: green;
}

.priority {
  display: none;
}

.timestamp {
  display: none;
}
.tags {
  background-color: #ededed;
  border: 1px solid #ededed;
  color: #939393;
  cursor: pointer;
  display: block;
  float: right;
  font-size: 80%;
  font-weight: normal;
  margin: 0 3px;
  padding: 1px 2px;
  border-radius: 10px;
}

li::marker {
  display: none;
}
