// ==============================
// Custom style
// ==============================
// You can override the variables in _variables.scss to customize the style

.todo {
  background-color: bisque;
  font-family: monospace;
  color: green;
}
