// ==============================
// Custom style
// ==============================
// You can override the variables in _variables.scss to customize the style

.todo {
  background-color: bisque;
  font-family: monospace;
  color: green;
}

.org-todo.done.DONE {
  background-color: bisque;
  font-family: monospace;
  color: green;
}

.org-todo.done.CANCEL {
  background-color: bisque;
  font-family: monospace;
  color: grey;
}
.priority {
  display: none;
}

$post-toc-content: 13px;
$post-title-font-size: 1.8rem;
$post-title-font-weight: 700;
.timestamp {
  font-family: monospace;
  font-size: small;
}
.tags {
  background-color: #ededed;
  border: 1px solid #ededed;
  color: #939393;
  cursor: pointer;
  display: block;
  float: right;
  font-size: 80%;
  font-weight: normal;
  margin: 0 3px;
  padding: 1px 2px;
  border-radius: 10px;
}

li::marker {
  display: none;
}
